NILE_USER_PRIVATE_KEY=
NILE_RELAYER_PRIVATE_KEY=
NILE_FACTORY_ADDRESS=
API_BEARER_TOKEN=
ENABLE_DIRECT_EXECUTION=0
ENABLE_SSE_QUERY_TOKEN=0
GASFREE_API_KEY=
GASFREE_API_SECRET=
NILE_USDT_ADDRESS=
NILE_RECIPIENT_ADDRESS=
NILE_AMOUNT_MICRO=1000000
PORT=7364
